body{
    color:white;
    background:purple;
     margin: 0px;
}

header {
    border-bottom: solid 2px rgb(#fff);
    padding: 20px;
    font-size: 32px;
    color: rgb(#fff);
}
section{
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display; flex;
    justify-content: center;
}
